#absl-py
aiosignal
alabaster
allennlp
asn1crypto
astor
astunparse
async-timeout
atomicwrites
attrs
aws-xray-sdk
awscli
Babel
base58
blis
boto
boto3
botocore
cached-path
cachetools
catalogue
certifi
cffi
chardet
charset-normalizer
checksumdir
click
cloudpickle
colorama
colorlog
colorlover
commonmark
conllu
contourpy
cookies
cryptography
cycler
cymem
Cython
cytoolz
dataclasses
deap
decorator
dill
distlib
docker
docker-pycreds
docutils
easydict
ecdsa
editdistance
embeddings
exceptiongroup
fairscale
fastjsonschema
filelock
flaky
Flask
Flask-Cors
flatbuffers
fonttools
frozenlist
ftfy
funcsigs
future
fuzzywuzzy
gast
gevent
gitdb
GitPython
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
googledrivedownloader
greenlet
grpcio
gym
gym-notices
h5py
huggingface-hub
idna
imagesize
importlib-metadata
iniconfig
ipython-genutils
itsdangerous
jieba
Jinja2
jmespath
joblib
jsondiff
jsonnet
jsonpatch
jsonpickle
jsonpointer
jsonschema
jupyter_core
keras
Keras-Applications
Keras-Preprocessing
kiwisolver
langcodes
Levenshtein
libclang
lmdb
Markdown
MarkupSafe
matplotlib
mock
more-itertools
moto
msgpack
msgpack-numpy
murmurhash
nbformat
networkx
nltk
numpy
numpydoc
oauthlib
opencv-python
opt-einsum
overrides
packaging
pandas
parsimonious
pathtools
pathy
pbr
Pillow
plac
platformdirs
plotly
pluggy
preshed
promise
protobuf
psutil
py
pyaml
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydash
pyglet
Pygments
pyparsing
pyrsistent
pytest
python-dateutil
python-jose
python-Levenshtein
pytorch-ignite
pytorch-pretrained-bert
pytorch-transformers
pytz
PyYAML
pyzmq
quadprog
rapidfuzz
ray
redis
regex
requests
requests-oauthlib
responses
retrying
rich
rsa
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
sentry-sdk
setproctitle
shortuuid
simplejson
singledispatch
six
sklearn
smart-open
smmap
snowballstemmer
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
sqlparse
srsly
tenacity
#tensorboard
#tensorboard-data-server
#tensorboard-plugin-wit
#tensorboardX
#tensorflow
#tensorflow-estimator
#tensorflow-io-gcs-filesystem
#termcolor
thinc
threadpoolctl
tokenizers
toml
tomli
toolz
#torch
#torchfile
#torchvision
tornado
tqdm
traitlets
transformers
typer
types-toml
typing
typing_extensions
ujson
Unidecode
urllib3
virtualenv
visdom
wandb
wasabi
wcwidth
websocket-client
Werkzeug
word2number
wrapt
xmltodict
xvfbwrapper
zipp
zope.event
zope.interface
